@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Space+Grotesk:wght@300;700&display=swap');

::selection {
   color: rgb(0, 0, 0);
   background: white;
}

::-moz-selection {
  /* Code for Firefox */
   color: rgb(0, 0, 0);
   background: white;
}

 body {
     font-family: Inter;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     text-rendering: optimizeLegibility;
     letter-spacing: -0.08ch;
     line-height: 1;
     min-width: 320px;
     overflow-x: hidden;
     word-wrap: break-word;
     color:white;
     background:black;
     padding: 0;
     margin: 0;
}

main {
  padding: 0 0 100px 0;
}

h1{
  margin: 0;
  font-size:2em;
}

hr{
  opacity: 0.4;
  margin: 0;
}

a {
  color: white;
}

#logo{
  width: 64px;
  margin: 40px 0px 0px 60px;
  vertical-align: middle;
  transition: all ease-in-out 300ms;
}

#logo:hover {
  transform: scale(1.05);
}

#work{
  padding:0;
  margin-left: 60px;
  display: block;
  color: #4d5156;
  font-weight: 900;
  font-size: 1.6em;
  letter-spacing: -0.06ch;
}


.desc-text-wrapper{
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  letter-spacing: 0.01ch;
  line-height: 1.75;
  font-size: 1.25em;
  padding-bottom: 100px;
}

ol li{
  margin-bottom: 24px;
}

.tableau-wrapper{
  margin: 0 auto;
  padding: 0 60px 100px 60px;
}

.desc-img-wrapper{
  margin: 0 auto;
  padding: 40px 60px 100px 60px;
  max-width: 1200px;
  display:flex;
  flex-wrap: wrap;
}

.desc-img{
  width: 100%
}

.desc-img:not(:first-child):not(:last-child) {
  padding: 80px 0;
}

.video {
  margin: 0 auto;
}

.fadeInUp-animation {
  animation: 1.618s fadeInUp;
}

.navbar{
  background: black;
}

 .block {
     padding: 20vh 0 10vh 0;
     background: black;
}

 .inner {
  max-width: 600px;
  line-height: 1.75;
  margin: 0 auto;
  padding: 0 60px;
  text-align: center;
  height: 30vh;
}

 .highlight{
     color: #6ec7be;
     font-size: 20px;
     letter-spacing: 0.01;
}

 .portfolio {
     display: grid;
     height: 100%;
     grid-template-rows: repeat(6, 1fr);
     grid-template-columns: repeat(5, 1fr);
     grid-gap: 40px;
     padding: 20px 60px;
     background: black;


}

 .portfolio-item {
     display: flex;
     justify-content: left;
     align-items: flex-end;
     padding: 40px;
     position: relative;
     z-index: 10;
     background-position: top left;
     transition: all ease-in-out 300ms;
     position: relative;
     color: white;
     text-decoration: none;
     border: 1px solid rgba(255, 255, 255, 0);
}

.portfolio-item:hover {
  border: 1px solid rgba(255, 255, 255, 1);
  transform: translateY(-4px);
  transform: scale(1.05);
}

 .small {
     grid-row: span 1;
     grid-column: span 1;
}

 .medium {
     grid-row: span 2;
     grid-column: span 2;
}

 .large {
     grid-row: span 3;
     grid-column: span 3;
}

 .tall {
     grid-row: span 3;
     grid-column: span 2;
}

.small-tall {
  grid-row: span 2;
  grid-column: span 1;
}

 .wide {
     grid-row: span 2;
     grid-column: span 3;
}

 .one::before {
     border: 1px solid white;
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     opacity: 0.4;
     z-index: -1;
     background:url('../img/UGMfold3.png') center center no-repeat;;
     background-size: cover;
     transition: all ease-in-out 300ms;
}

 .one:hover::before {
     opacity: 0.6;
}

 .two::before {
     border: 1px solid white;
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     opacity: 0.4;
     z-index: -1;
     background:url('../img/dfuze.png') center center no-repeat;;
     background-size: cover;
     transition: all ease-in-out 300ms;
}

 .two:hover::before {
     opacity: 0.6;
}

 .three::before {
     border: 1px solid white;
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     opacity: 0.4;
     z-index: -1;
     background:url('../img/proppy.png') center center no-repeat;;
     background-size: cover;
     transition: all ease-in-out 300ms;
}

 .three:hover::before {
     opacity: 0.6;
}

 .four::before {
     border: 1px solid white;
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     opacity: 0.4;
     z-index: -1;
     background:url('../img/papajohns.png') center center no-repeat;;
     background-size: cover;
     transition: all ease-in-out 300ms;
}

 .four:hover::before {
     opacity: 0.6;
}

 .five::before {
     border: 1px solid white;
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     opacity: 0.4;
     z-index: -1;
     background:url('../img/VGHDashboard1Cover.png') center center no-repeat;;
     background-size: cover;
     transition: all ease-in-out 300ms;
}

 .five:hover::before {
     opacity: 0.6;
}

 .six::before {
     border: 1px solid white;
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     opacity: 0.4;
     z-index: -1;
     background:url('../img/tagd.png') center center no-repeat;;
     background-size: cover;
     transition: all ease-in-out 300ms;
}

 .six:hover::before {
     opacity: 0.6;
}

.seven::before {
  border: 1px solid white;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: -1;
  background:url('../img/letsgetmarketing.png') center center no-repeat;;
  background-size: cover;
  transition: all ease-in-out 300ms;
}

.seven:hover::before {
  opacity: 0.6;
}

.eight::before {
  border: 1px solid white;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: -1;
  background:url('../img/PDFUtil.png') center center no-repeat;;
  background-size: cover;
  transition: all ease-in-out 300ms;
}

.eight:hover::before {
  opacity: 0.6;
}

.tag {
  font-size: 12px;
  padding: 20px 20px;
  font-weight: 900;
  letter-spacing: 0.1ch;
  left: -40px;
  bottom: -40px;
  position: relative;
  text-transform: uppercase;
  text-shadow: #000 1px 0 10px;
}

@keyframes fadeInUp {
  0% {
     /*transform: translateY(25%);
     */
      opacity: 0;
 }
  100% {
     /* transform: translateY(0%);
     */
      opacity: 1;
 }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1024px) {
  #work{
    margin-left:40px;
  }

  #logo{
    width: 64px;
    vertical-align: middle; 
    margin: 0px auto;
    display:block;
  }

  .navbar{
    padding: 60px 0px 0px 0px;
  }

  .tableau-wrapper{
    margin: 0 auto;
    padding: 0 40px 100px 40px;
    max-width:800px;
  }

  .desc-img-wrapper{
    padding: 0 40px 100px 40px;
  }
  
  .description {
    padding: 0 40px;
  }

  .portfolio {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 80px;
    padding: 40px;
    background: black;
}

.portfolio-item {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    padding: 100px;
    position: relative;
    z-index: 10;
    background-position: top left;
    transition: all ease-in-out 300ms;
    position: relative;
    color: white;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0);
}

.small {
    grid-row: span 1;
    grid-column: span 1;
}

.medium {
  grid-row: span 1;
  grid-column: span 1;
}

.large {
  grid-row: span 1;
  grid-column: span 1;
}

.tall {
  grid-row: span 1;
  grid-column: span 1;
}

.wide {
  grid-row: span 1;
  grid-column: span 1;
}

.tag {
  font-size: 12px;
  padding: 20px 30px;
  font-weight: 900;
  letter-spacing: 0.1ch;
  left: -100px;
  bottom: -100px;
  position: relative;
  text-transform: uppercase;
  text-shadow: #000 1px 0 10px;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	
}